**/.idea
**/.gradletasknamecache
**/.gradle
**/build/
!**/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
**/*.iws
**/*.iml
**/*.ipr
**/out/
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
